* {
	box-sizing: border-box;
}
html {
	background-color: #8c7373;
}

body {
	width: 1200px;
	margin: 0 auto;


}

header {
	height: 150px;
	width: 1180px;
	background-color: 310d0d;
	border: 10px solid #f7dfdf;
	position: fixed;
}
#self {
	width: 200px;
	height: 300px;
	float:left;
	border: 10px solid #f7dfdf;
	margin-left: 50px;
}

h1 { 
	color: #f7dfdf;
}
 
#name {
	float:left;
	padding-left: 200px;
	font-size: 42px;

}

#contacts {
	float:right;
}

/* reduced width of main body to control column width*/
main {
	width: 1200px;
	margin: 0 auto;
	background-image: url("../assets/bodybg.jpg");
	margin-bottom: 0;
}
section {
	width: 700px;
	margin: auto;
	padding-top: 200px;
	padding-bottom: 50px;
}

#about {
	font-size: 18px;
	display: block;
	padding-left: 40%;
}
.body_copy {
	padding: 10px;
	margin-left: 20px;
}

.button_link {
	float: left;
	margin: 20px;

}

.SMI /*social media icons*/ {
	height: 40px;
	width: 40px;
}

footer {
	height:150px;
	background-color: #cb3535;
	border: 10px solid #f7dfdf;
	margin-top: 0;
}