* {
	box-sizing: border-box;
}
html {
	background-color: #8c7373;
}

body {
	width: 1200px;
	margin: 0 auto;


}

header {
	height: 150px;
	width: 1180px;
	background-color: 310d0d;
	position: fixed;
}
#self {
	width: 200px;
	height: 300px;
	float:left;
	margin-left: 50px;
}

h1 { 
	color: #f7dfdf;
}
 
#name {
	float:left;
	padding-left: 200px;
	font-size: 42px;

}

#logo_top {
	float: right;
	height: 200px;
	width: 300px;
	opacity: 0.5;

}

/* reduced width of main body to control column width*/
main {
	width: 1200px;
	margin: 0 auto;
	background-image: url("../assets/bodybg.jpg");
	

}
section {
	width: 700px;
	margin: auto;
	padding-top: 170px;
	padding-bottom: 50px;
	color: #451211;
}
h2 {
	color: #cb3535;
}

#about {
	font-size: 18px;
	display: block;
	float:right;
	margin-left: 100px;
	padding:10px;
	color: #cb3535;
	background-color; #310d0d;


}
.body_copy {
	padding: 10px;
	margin-left: 20px;
}


.highlight {
		border: 10px solid #f7dfdf;
}

footer {
	height:150px;
	background-image: url("../assets/footer_bg.gif");
	border: 10px solid #f7dfdf;
	margin-top: 0;
}

#icons {
	margin-left: 40px;
}

.button_link {
	float: left;
	margin: 20px;
	margin-top: 40px;

}

.SMI /*social media icons*/ {
	height: 40px;
	width: 40px;
}

.button {
	/*background-image: url("../assets/button.png");*/
	width: 112px;
	height: 40px;
}

#contacts {
	float: left;
	padding-left: 75px;
	padding-top: 10px;
	color: #f7dfdf;
	font-size: 18px;
}

#logo_bottom {
	float: right;
	height: 120px;
	width: 180px;
	margin-right: 75px;

}


